.Length{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid blue; */
    align-items: center;
}

/* .Lengthlabel{
    color: red;
} */

.Lengthinput{
    height: 40px;
    width: 150px;
    padding: 10px;
}